@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #10a37f;
  --secondary-color: #13c29e;
  --background-color: #343541;
  --text-color: #e8e8e8;
  --text-secondary-color: #d1d5db;
  --accent-color: #2e2f33;
  --border-color: #575757;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--background-color);
  height: 100vh;
}

#root,
.App {
  height: 100%;
}
