.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #f0f0f0;
}

.buttonPlayAgain {
  font-size: 1.25rem;
  padding: 10px;
  margin-block: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  cursor: pointer;
  box-shadow: #333 4px 4px 4px;
}

.buttonPlayAgain:hover {
  opacity: 0.8;
}

.noPointer {
  cursor: not-allowed;
}

.loading {
  cursor: wait;
}

.hasGame {
  margin-block: 20px;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.gap {
  margin-top: 4px;
  width: 310px;
  justify-content: space-between;
}

.padding {
  padding: 10px;
}

.displayNone {
  display: none;
}

.radio-label-difficulty {
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.radio-label-difficulty.active {
  border: 2px solid var(--primary-color);
  background-color: #e0f7e4;
  color: #333;
}

.dificuldade {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 1.5rem;
  margin-bottom: 0;
}
